
	<% @movies.each do |movie| %>
	<li><%= movie['Title'] %> - <%= movie['Year'] %></li>
	<% end %>





<% @movies.each do |movie| %>
	<div id="movie_info" style="margin: 20px, width: 50px">
	<h2> <%= movie['Title'] %></h2> </br>
		<img src= <%= movie['Poster'] %> /> </br>
	<p> <%= movie['Plot'] %> </p>
	</div>
<% end %>



<% @movies.each do |movie| %>
<li><%= movie %></li></br>
<% end %>